<div class="row" *ngIf="!isLoading">
  <div class="col-md-8 pb-4 mx-auto">
    <h4>{{ isLogin ? 'Login' : 'Sign up'}}</h4>
    <form [formGroup]="form" (ngSubmit)="loginSignUp(form)">
      <div class="alert alert-danger d-flex justify-content-between align-items-center" (click)="dismissError()" *ngIf="errorMessage">
        {{ errorMessage }}
        <button class="btn btn-danger btn-sm">Dismiss</button>
      </div>
      <div class="form-floating mb-3" *ngIf="!isLogin">
        <input type="text" formControlName="firstname" class="form-control" id="firstname"
               placeholder="Firstname">
        <label for="firstname">Firstname</label>
      </div>
      <div class="form-floating mb-3" *ngIf="!isLogin">
        <input type="text" formControlName="lastname" class="form-control" id="lastname"
               placeholder="lastname">
        <label for="lastname">Lastname</label>
      </div>
      <div class="form-floating mb-3">
        <input type="email" formControlName="email" class="form-control" id="floatingInput"
               placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" formControlName="password" class="form-control" id="floatingPassword"
               placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <button class="btn btn-primary btn-lg" type="submit" [disabled]="form.invalid">{{ isLogin ? 'Login' : 'Sign up'}}</button> |
      <button class="btn btn-primary btn-lg" type="button" (click)="switchMode()">Switch to {{ isLogin ? 'Sign up' : 'Login'}}</button>
    </form>
  </div>
</div>
<div class="d-flex align-items-center justify-content-center" style="height: 70vh">
  <app-loader *ngIf="isLoading"></app-loader>
</div>
